/* footer.css */

.footer {
  background-color: #d35722;
  position: relative;
  overflow: hidden;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 3;
}

.footer__h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.footer__item {
  list-style: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: end;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer__icon {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

.footer__circle {
  height: 340px;
  width: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -128px;
  left: -44px; /*No entiendo muy bien la descripción del Brief, pero por lo que se ve, creo que es -44 y no -4*/
}

.footer__container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  padding: 60px 0 108px;
  position: relative;
  z-index: 1;
}

.footer__copyright {
  box-sizing: border-box;
  margin: 0;
  margin-left: 80px;
  padding-bottom: 60px;
  color: white;
}

/* TIPOGRAFÍA */

.footer__copyright,
.footer__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

/* ESTADOS HOVER */

.footer__link:hover {
  color: #ffd6c5;
}
