/* index.css */

@import url(header.css);
@import url(reservation.css);
@import url(footer.css);
body {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}
